# Ігнорувати файл з паролями
.env
*.decrypted~env.*.enc
Koha-intranet.js
candidates.txt
IntranetUserJS.js
archive/

# Логи
*.log
logs/
**/logs/

# Python cache/bytecode
__pycache__/
*.py[cod]
*$py.class

docs/AGENTS.md
docs/NOTES.md
docs/hello-world.md
docs/DOCKER-SECRETS.md
docs/copilot-instruction.md
.archive
.venv/
